<ion-header>
  <ion-toolbar>
    <div class="max-wrap">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="max-wrap">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Is this tool right for you?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Please continue if you answer yes to any of the follow questions:</strong></p>
        <p>
          <strong>1:</strong> Are you self isolating with suspected Coronavirus and would like to request help from a local volunteer group?
        </p>
        <p>
          <strong>2:</strong> Are you seeking support on behalf of someone who is self isolating (you will need their consent)?
        </p>
        <ion-button [routerLink]="['/share-location']">Yes</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
