<ion-header>
  <ion-toolbar>
    <div class="max-wrap">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="max-wrap">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Are you self isolating?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <strong>Please continue if you answer yes to any of the follow questions:</strong>
        <p>
          <strong>Question 1:</strong> Are you self isolating with a suspected Corona Virus and would like to
          request help from a local volunteer group?
        </p>
        <p>
          <strong>Question 2:</strong> Are you passing info on behalf of someone who is Self Isolating (you will need their consent)?
        </p>
        <ion-button [routerLink]="['/share-location']">Yes</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
