<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-title>Please share how we can get in touch (step 3 of 3)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    #ngForm="ngForm"
    (ngSubmit)="onSubmitForm($event, ngForm)"
    class="max-wrap"
  >

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Your basic details
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><span class="required">*</span> is a required field.</p>
        <ion-list>
          <ion-item>
            <ion-label position="stacked"
              >Forename<span class="required">*</span></ion-label
            >
            <ion-input
              [(ngModel)]="form.forename"
              name="forename"
              required="true"
              placeholder="Your first name"
            ></ion-input>
            <ion-text
              [hidden]="ngForm.controls.forename && (ngForm.controls.forename.valid || (ngForm.controls.forename.pristine))"
              color="danger"
              >Forename is required</ion-text
            >
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Surname</ion-label>
            <ion-input
              [(ngModel)]="form.surname"
              name="surname"
              placeholder="Your surname"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"
              >Contact Number<span class="required">*</span></ion-label
            >
            <ion-input
              [(ngModel)]="form.telephone"
              name="telephone"
              required
              placeholder="Your contact telephone number"
            ></ion-input>
            <ion-text
              [hidden]="ngForm.controls.telephone && (ngForm.controls.telephone.valid || (ngForm.controls.telephone.pristine))"
              color="danger"
              >Telephone is required</ion-text
            >
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input
              [(ngModel)]="form.email"
              name="email"
              placeholder="Your Email Address"
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Your address
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-checkbox
              [(ngModel)]="form.dontShareAddress"
              (ionChange)="onChangeDontShare($event, ngForm)"
              name="dontShareAddress"
              [checked]="true"
              slot="start"
            ></ion-checkbox>
            <ion-label>
              I prefer to not share my address
            </ion-label>
          </ion-item>
          <ng-container>
            <ion-item *ngIf="!form.dontShareAddress">
              <ion-label position="stacked">Address line 1<span class="required">*</span></ion-label>
              <ion-input
                [(ngModel)]="form.address1"
                required
                name="address1"
                placeholder="The first line of your address"
              ></ion-input>
              <ion-text
                [hidden]="ngForm.controls.address1 && (ngForm.controls.address1.valid || (ngForm.controls.address1.pristine))"
                color="danger"
                >Address Line 1 is required</ion-text
              >
            </ion-item>
            <ion-item *ngIf="!form.dontShareAddress">
              <ion-label position="stacked">Address line 2</ion-label>
              <ion-input
                [(ngModel)]="form.address2"
                name="address2"
                placeholder="The second line of your address"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Town/City<span class="required">*</span></ion-label>
              <ion-input
                [(ngModel)]="form.town"
                required
                name="town"
                placeholder="Your town or city"
              ></ion-input>
              <ion-text
                [hidden]="ngForm.controls.town && (ngForm.controls.town.valid || (ngForm.controls.town.pristine))"
                color="danger"
                >Town is required</ion-text
              >
            </ion-item>
            <ion-item>
              <ion-label position="stacked"
                >County<span class="required">*</span></ion-label
              >
              <ion-select
                [(ngModel)]="form.county"
                required
                name="county"
                placeholder="Your county"
              >
                <ion-select-option>Bedfordshire</ion-select-option>
                <ion-select-option>Berkshire</ion-select-option>
                <ion-select-option>Bristol</ion-select-option>
                <ion-select-option>Buckinghamshire</ion-select-option>
                <ion-select-option>Cambridgeshire</ion-select-option>
                <ion-select-option>Cheshire</ion-select-option>
                <ion-select-option>City of London</ion-select-option>
                <ion-select-option>Cornwall</ion-select-option>
                <ion-select-option>Cumbria</ion-select-option>
                <ion-select-option>Derbyshire</ion-select-option>
                <ion-select-option>Devon</ion-select-option>
                <ion-select-option>Dorset</ion-select-option>
                <ion-select-option>Durham</ion-select-option>
                <ion-select-option>East Riding of Yorkshire</ion-select-option>
                <ion-select-option>East Sussex</ion-select-option>
                <ion-select-option>Essex</ion-select-option>
                <ion-select-option>Gloucestershire</ion-select-option>
                <ion-select-option>Greater London</ion-select-option>
                <ion-select-option>Greater Manchester</ion-select-option>
                <ion-select-option>Hampshire</ion-select-option>
                <ion-select-option>Herefordshire</ion-select-option>
                <ion-select-option>Hertfordshire</ion-select-option>
                <ion-select-option>Isle of Wight</ion-select-option>
                <ion-select-option>Kent</ion-select-option>
                <ion-select-option>Lancashire</ion-select-option>
                <ion-select-option>Leicestershire</ion-select-option>
                <ion-select-option>Lincolnshire</ion-select-option>
                <ion-select-option>Merseyside</ion-select-option>
                <ion-select-option>Norfolk</ion-select-option>
                <ion-select-option>North Yorkshire</ion-select-option>
                <ion-select-option>Northamptonshire</ion-select-option>
                <ion-select-option>Northumberland</ion-select-option>
                <ion-select-option>Nottinghamshire</ion-select-option>
                <ion-select-option>Oxfordshire</ion-select-option>
                <ion-select-option>Rutland</ion-select-option>
                <ion-select-option>Shropshire</ion-select-option>
                <ion-select-option>Somerset</ion-select-option>
                <ion-select-option>South Yorkshire</ion-select-option>
                <ion-select-option>Staffordshire</ion-select-option>
                <ion-select-option>Suffolk</ion-select-option>
                <ion-select-option>Surrey</ion-select-option>
                <ion-select-option>Tyne and Wear</ion-select-option>
                <ion-select-option>Warwickshire</ion-select-option>
                <ion-select-option>West Midlands</ion-select-option>
                <ion-select-option>West Sussex</ion-select-option>
                <ion-select-option>West Yorkshire</ion-select-option>
                <ion-select-option>Wiltshire</ion-select-option>
                <ion-select-option>Worcestershire</ion-select-option>

                <ion-select-option>Anglesey</ion-select-option>
                <ion-select-option>Brecknockshire</ion-select-option>
                <ion-select-option>Caernarfonshire</ion-select-option>
                <ion-select-option>Carmarthenshire</ion-select-option>
                <ion-select-option>Cardiganshire</ion-select-option>
                <ion-select-option>Denbighshire</ion-select-option>
                <ion-select-option>Flintshire</ion-select-option>
                <ion-select-option>Glamorgan</ion-select-option>
                <ion-select-option>Merioneth</ion-select-option>
                <ion-select-option>Monmouthshire</ion-select-option>
                <ion-select-option>Montgomeryshire</ion-select-option>
                <ion-select-option>Pembrokeshire</ion-select-option>
                <ion-select-option>Radnorshire</ion-select-option>

                <ion-select-option>Aberdeenshire</ion-select-option>
                <ion-select-option>Angus</ion-select-option>
                <ion-select-option>Argyllshire</ion-select-option>
                <ion-select-option>Ayrshire</ion-select-option>
                <ion-select-option>Banffshire</ion-select-option>
                <ion-select-option>Berwickshire</ion-select-option>
                <ion-select-option>Buteshire</ion-select-option>
                <ion-select-option>Cromartyshire</ion-select-option>
                <ion-select-option>Caithness</ion-select-option>
                <ion-select-option>Clackmannanshire</ion-select-option>
                <ion-select-option>Dumfriesshire</ion-select-option>
                <ion-select-option>Dunbartonshire</ion-select-option>
                <ion-select-option>East Lothian</ion-select-option>
                <ion-select-option>Fife</ion-select-option>
                <ion-select-option>Inverness-shire</ion-select-option>
                <ion-select-option>Kincardineshire</ion-select-option>
                <ion-select-option>Kinross</ion-select-option>
                <ion-select-option>Kirkcudbrightshire</ion-select-option>
                <ion-select-option>Lanarkshire</ion-select-option>
                <ion-select-option>Midlothian</ion-select-option>
                <ion-select-option>Morayshire</ion-select-option>
                <ion-select-option>Nairnshire</ion-select-option>
                <ion-select-option>Orkney</ion-select-option>
                <ion-select-option>Peeblesshire</ion-select-option>
                <ion-select-option>Perthshire</ion-select-option>
                <ion-select-option>Renfrewshire</ion-select-option>
                <ion-select-option>Ross-shire</ion-select-option>
                <ion-select-option>Roxburghshire</ion-select-option>
                <ion-select-option>Selkirkshire</ion-select-option>
                <ion-select-option>Shetland</ion-select-option>
                <ion-select-option>Stirlingshire</ion-select-option>
                <ion-select-option>Sutherland</ion-select-option>
                <ion-select-option>West Lothian</ion-select-option>
                <ion-select-option>Wigtownshire</ion-select-option>

                <ion-select-option>Antrim</ion-select-option>
                <ion-select-option>Armagh</ion-select-option>
                <ion-select-option>Down</ion-select-option>
                <ion-select-option>Fermanagh</ion-select-option>
                <ion-select-option>Londonderry</ion-select-option>
                <ion-select-option>Tyrone</ion-select-option>
              </ion-select>
              <ion-text
                [hidden]="ngForm.controls.county && (ngForm.controls.county.valid || (ngForm.controls.county.pristine))"
                color="danger"
                >County is required</ion-text
              >
            </ion-item>

            <ion-item *ngIf="!form.dontShareAddress">
              <ion-label position="stacked">Post code<span class="required">*</span></ion-label>
              <ion-input
                [(ngModel)]="form.postCode"
                name="postCode"
                required
                placeholder="Your UK postcode"
              ></ion-input>
              <ion-text
                [hidden]="ngForm.controls.postCode && (ngForm.controls.postCode.valid || (ngForm.controls.postCode.pristine))"
                color="danger"
                >Postcode is required</ion-text
              >
            </ion-item>
          </ng-container>

          <ion-text color="danger" *ngIf="ngForm.form.status === 'INVALID' && submitted">
            Please fill in all required fields
          </ion-text>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button type="submit">Next</ion-button>
  </form>
</ion-content>
