<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Please share your details<br />
      <small>(Step 3 of 3)</small>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form
    #ngForm="ngForm"
    (ngSubmit)="onSubmitForm($event, ngForm)"
    class="max-wrap"
  >
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Self-isolator's Information
        </ion-card-title>
        <br />
        <ion-text color="dark"
          ><b
            >If you are entering information on behalf of someone else, please
            enter their details</b
          ></ion-text
        >
      </ion-card-header>
      <ion-card-content>
        <p style="margin: 0;">
          <span class="required">*</span> is a required field.
        </p>
        <ion-list>
          <ion-item>
            <ion-label position="stacked"
              >First name<span class="required">*</span></ion-label
            >
            <ion-input
              [(ngModel)]="form.forename"
              name="forename"
              required="true"
              placeholder="First name"
            ></ion-input>
            <ion-text
              [hidden]="ngForm.controls.forename && (ngForm.controls.forename.valid || (ngForm.controls.forename.pristine))"
              color="danger"
              >Forename is required</ion-text
            >
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Surname</ion-label>
            <ion-input
              [(ngModel)]="form.surname"
              name="surname"
              placeholder="Surname"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"
              >Contact Number<span class="required">*</span></ion-label
            >
            <ion-input
              [(ngModel)]="form.telephone"
              name="telephone"
              required
              placeholder="Contact telephone number"
            ></ion-input>
            <ion-text
              [hidden]="ngForm.controls.telephone && (ngForm.controls.telephone.valid || (ngForm.controls.telephone.pristine))"
              color="danger"
              >Telephone is required</ion-text
            >
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email Address</ion-label>
            <ion-input
              [(ngModel)]="form.email"
              name="email"
              placeholder="Email Address"
            ></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Self-isolator's Address
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="stacked"
              >Street Name<span class="required">*</span></ion-label
            >
            <ion-input
              [(ngModel)]="form.streetName"
              required
              name="streetName"
              placeholder="Street name only (e.g Squires Lane)"
            ></ion-input>
            <ion-text
              [hidden]="ngForm.controls.streetName && (ngForm.controls.streetName.valid || (ngForm.controls.streetName.pristine))"
              color="danger"
              >Street Name is required</ion-text
            >
          </ion-item>

          <ion-item *ngIf="!subdomain">
            <ion-label position="stacked"
              >Town/City<span class="required">*</span></ion-label
            >
            <ion-input
              (ionChange)="onChangeTown()"
              [(ngModel)]="form.town"
              required
              name="town"
              placeholder="Town or city"
            ></ion-input>
            <ion-text
              [hidden]="ngForm.controls.town && (ngForm.controls.town.valid || (ngForm.controls.town.pristine))"
              color="danger"
              >Town is required</ion-text
            >
          </ion-item>

          <ion-item>
            <ion-label position="stacked"
              >County<span class="required">*</span></ion-label
            >
            <ion-select
              (ionChange)="onChangeCounty()"
              [(ngModel)]="form.county"
              required
              name="county"
              placeholder="County"
            >
              <ion-select-option
                *ngFor="let county of counties"
                value="{{county}}"
                >{{county}}</ion-select-option
              >
            </ion-select>

            <ion-text
              [hidden]="ngForm.controls.county && (ngForm.controls.county.valid || (ngForm.controls.county.pristine))"
              color="danger"
              >County is required</ion-text
            >
          </ion-item>

          <ion-item *ngIf="locationsAssociatedWithCounty">
            <ion-label position="stacked"
              >{{locationsAssociatedWithCounty.locations}}<span class="required"
                >*</span
              ></ion-label
            >
            <ion-select
              (ionChange)="onChangeLocation()"
              [(ngModel)]="form.location"
              required
              name="location"
              placeholder="County"
            >
              <ion-select-option
                *ngFor="let location of locationsList"
                value="{{location.name}}"
                >{{location.name}}</ion-select-option
              >
            </ion-select>

            <ion-text
              [hidden]="ngForm.controls.location && (ngForm.controls.location.valid || (ngForm.controls.location.pristine))"
              color="danger"
              >{{locationsAssociatedWithCounty.locations}} is required</ion-text
            >
          </ion-item>

          <!--        <ion-item *ngIf="!form.dontShareAddress">
              <ion-label position="stacked"
                >Post code<span class="required">*</span></ion-label
              >
              <ion-input
                [(ngModel)]="form.postCode"
                name="postCode"
                required
                placeholder="UK postcode"
              ></ion-input>
              <ion-text
                [hidden]="ngForm.controls.postCode && (ngForm.controls.postCode.valid || (ngForm.controls.postCode.pristine))"
                color="danger"
                >Postcode is required</ion-text
              >
            </ion-item>-->

          <ion-text
            color="danger"
            *ngIf="ngForm.form.status === 'INVALID' && submitted"
          >
            Please fill in all required fields
          </ion-text>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="form.selectedLocation?.volunteerGroup">
      <ion-card-content>
        <p class="ion-no-margin">Connected volunteer group:</p>
        <ion-chip class="ion-margin-vertical" slot="start">
          <ion-avatar *ngIf="form.selectedLocation.volunteerImage">
            <ion-img [src]="form.selectedLocation.volunteerImage"></ion-img>
          </ion-avatar>
          <ion-label>{{form.selectedLocation.volunteerGroup}}</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-button type="submit">Next</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
