<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="loading">
  <div class="container">
    <ion-spinner></ion-spinner>
    <p>Sharing location...</p>
  </div>
</ion-content>

<ion-content *ngIf="!loading">
  <div class="container">
    <h1>Please share your location</h1>
    <p>This tool will now ask your to share your location.</p>

    <p>
      <ion-button (click)="getLocation()"
        >Share location and continue</ion-button
      >
    </p>

    <p>
      <a [routerLink]="['/info']">I would prefer not to share my location</a>
    </p>
  </div>
</ion-content>
