<ion-content *ngIf="loading">
  <div class="container">
    <ion-spinner></ion-spinner>
    <p>Logging in...</p>
  </div>
</ion-content>

<ion-content *ngIf="!loading">
  <div class="background"><div class="background-inner"></div></div>
  <div class="header">
    <h1 class="max-wrap ion-padding">
      Volunteer Login
    </h1>
  </div>

  <div class="max-wrap">
    <ion-card>
      <ion-card-content>
        <form #ngForm="ngForm" (ngSubmit)="signin()">
          <ion-list>
            <ion-item>
              <ion-label position="stacked"
                >Email<span class="required">*</span></ion-label
              >
              <ion-input
                [(ngModel)]="form.email"
                name="email"
                required="true"
                placeholder="Your email address"
              >
              </ion-input>
              <ion-text
                name="emailMessage"
                [hidden]="ngForm.controls.email && (ngForm.controls.email.valid || (ngForm.controls.email.pristine))"
                color="danger"
                >Email is required</ion-text
              >
            </ion-item>
            <ion-item>
              <ion-label position="stacked"
                >Password<span class="required">*</span></ion-label
              >
              <ion-input
                [(ngModel)]="form.password"
                name="password"
                required="true"
                placeholder="Your password"
                type="password"
              ></ion-input>
              <ion-text
                name="passwordMessage"
                [hidden]="ngForm.controls.password && (ngForm.controls.password.valid || (ngForm.controls.password.pristine))"
                color="danger"
                >Password is required</ion-text
              >
            </ion-item>
          </ion-list>
          <p *ngIf="error">
            <ion-text color="danger"
              >Your username/password is incorrect, or there was another
              problem. Please try again.</ion-text
            >
          </p>
          <p *ngIf="requiredFieldsEmpty">
            <ion-text color="danger"
              >Please fill in all required fields.</ion-text
            >
          </p>
          <ion-button type="submit">Login</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
