<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="max-wrap">
    <ion-card>
      <ion-card-content>
        <h2>How to get in touch</h2>

        <p>
          To get in touch with the team at Self Isolation Help, please send an
          email to
          <a href="mailto:contact@selfisolationhelp.co.uk"
            >contact@selfisolationhelp.co.uk</a
          >. We will endeavour to reply as soon as possible. Thank you.
        </p>

        <a [routerLink]="['/']">Return to homepage.</a>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
