<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="max-wrap">
    <ion-card>
      <ion-card-content>
        <h2>How to get in touch</h2>

        <p>
          <strong>If you are self-isolating</strong> and need help please click
          <a [routerLink]="['/question-one']">here</a>.
        </p>

        <p>
          <strong>Are you a volunteer who wants to sign up?</strong> Please
          <a [routerLink]="['/register']">register</a> to go through our vetting
          process.
        </p>

        <p>
          <strong
            >For other queries such as general feedback or press
            enquiries</strong
          >
          you can get in touch with the team by emailing:
          <a href="mailto:contact@selfisolationhelp.co.uk"
            >contact@selfisolationhelp.co.uk</a
          >. We will endeavour to reply as soon as possible. Thank you.
        </p>

        <a [routerLink]="['/']">Return to homepage.</a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
