<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>People Self Isolating in {{location}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="max-wrap">
    <ng-container *ngFor="let isolator of (isolators$ | async)">
      <ion-card [routerLink]="['/isolator']" [queryParams]="{id: isolator.id}">
        <ion-card-header>
          <ion-card-title>
            {{isolator.resolved}} {{isolator.details.forename}}
            {{isolator.details.surname}}
          </ion-card-title>
          <ion-card-subtitle>
            {{isolator.dateSubmitted.toDate() | date:'medium'}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-chip color="warning" *ngIf="isolator.inProgress">
            <ion-label>In progress</ion-label>
          </ion-chip>
          <p>
            <span *ngIf="isolator.info?.needsMedicine">
              <ion-icon name="checkmark-circle-outline"></ion-icon> Needs
              medicine<br />
            </span>
          </p>

          <p>
            <span *ngIf="isolator.info?.needsFood">
              <ion-icon name="checkmark-circle-outline"></ion-icon> Needs
              food<br />
            </span>
          </p>

          <p>
            <span *ngIf="isolator.info?.needsSomeoneToTalkTo">
              <ion-icon name="checkmark-circle-outline"></ion-icon> Needs
              someone<br />
              to talk to
            </span>
          </p>

          <ng-container *ngIf="isolator.info.needsSomethingElseDescription">
            <h2>Other need:</h2>
            <p>{{isolator.info.needsSomethingElseDescription}}</p>
          </ng-container>

          <p *ngIf="isolator?.details?.streetName">
            <strong>Street name: </strong> {{isolator?.details?.streetName}}
          </p>
          <p *ngIf="isolator?.details?.location">
            <strong>Location: </strong> {{isolator?.details?.location}}
          </p>

          <a class="ion-padding-top">Click for more details</a>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ion-card *ngIf="(isolators$ | async) && !(isolators$ | async)?.length">
      <ion-card-content>
        <p>Nobody here is requesting assistance</p>
        <p><a [routerLink]="['/people-isolating']">Back to county view</a></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
