<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="background"><div class="background-inner"></div></div>
    <div class="header">
      <h1 class="max-wrap ion-padding">
        Volunteer Sign Up
      </h1>
    </div>

    <div class="max-wrap">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Your Information
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!-- <form #ngForm> -->
          <ion-list>
            <ion-item>
              <ion-label position="stacked">
                First Name
              </ion-label>
              <ion-input
                name="forename"
                required="true"
                placeholder="Your first name"
              ></ion-input>
              <!-- <ion-text
                name="forenameMessage"
                [hidden]="ngForm.controls.forename && (ngForm.controls.forename.valid || (ngForm.controls.forename.pristine))"
                color="danger"
                >Forename is required</ion-text
              > -->
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                Middle Name
              </ion-label>
              <ion-input
                name="middlename"
                placeholder="Your middle name"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                Telephone Number
              </ion-label>
              <ion-input
                name="telephoneNumber"
                required="true"
                placeholder="Your telephone number"
              ></ion-input>
              <!-- <ion-text
                name="surnameMessage"
                [hidden]="ngForm.controls.surname && (ngForm.controls.surname.valid || (ngForm.controls.surname.pristine))"
                color="danger"
                >Forename is required</ion-text
              > -->
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                Email Address
              </ion-label>
              <ion-input
                name="email"
                required="true"
                placeholder="Your email address"
              ></ion-input>
              <!-- <ion-text
                name="surnameMessage"
                [hidden]="ngForm.controls.surname && (ngForm.controls.surname.valid || (ngForm.controls.surname.pristine))"
                color="danger"
                >Forename is required</ion-text
              > -->
            </ion-item>
          </ion-list>

          <!-- </form> -->
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Your Address
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">
                Address Line 1
              </ion-label>
              <ion-input
                name="addressFirst"
                required="true"
                placeholder="Your house number & street"
              ></ion-input>
              <!-- <ion-text
              name="surnameMessage"
              [hidden]="ngForm.controls.surname && (ngForm.controls.surname.valid || (ngForm.controls.surname.pristine))"
              color="danger"
              >Forename is required</ion-text
            > -->
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                Address Line 2
              </ion-label>
              <ion-input name="addressSecond" placeholder=""></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                Town / City<span class="requirewd">*</span>
              </ion-label>
              <ion-input
                (ionChange)="onChangeTown()"
                [(ngModel)]="form.town"
                name="town"
                required="true"
                placeholder="Your town"
              ></ion-input>
              <!-- <ion-text
              name="addressTownMessage"
              [hidden]="ngForm.controls.surname && (ngForm.controls.surname.valid || (ngForm.controls.surname.pristine))"
              color="danger"
              >Forename is required</ion-text
            > -->
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                County<span class="required">*</span>
              </ion-label>

              <ion-select
                (ionChange)="onChangeCounty()"
                [(ngModel)]="form.county"
                required
                name="county"
                placeholder="Your county"
              >
                <ion-select-option
                  *ngFor="let county of counties"
                  value="{{county}}"
                  >{{county}}</ion-select-option
                >
              </ion-select>
              <!-- <ion-text
              name="addressTownMessage"
              [hidden]="ngForm.controls.surname && (ngForm.controls.surname.valid || (ngForm.controls.surname.pristine))"
              color="danger"
              >Forename is required</ion-text
            > -->
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                Postcode
              </ion-label>
              <ion-input
                name="postcode"
                required="true"
                placeholder="Your postcode"
              ></ion-input>
              <!-- <ion-text
              name="addressTownMessage"
              [hidden]="ngForm.controls.surname && (ngForm.controls.surname.valid || (ngForm.controls.surname.pristine))"
              color="danger"
              >Forename is required</ion-text
            > -->
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Your Organisation (if applicable)
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">
                Organisation Name
              </ion-label>
              <ion-input
                name="organisationName"
                placeholder="The organisation name"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                County of operation
              </ion-label>

              <ion-select
                (ionChange)="onChangeCounty()"
                [(ngModel)]="form.organisationCounty"
                required
                name="organisationCounty"
                placeholder="Please choose a county where you will volunteer"
              >
                <ion-select-option
                  *ngFor="let county of counties"
                  value="{{county}}"
                  >{{county}}</ion-select-option
                >
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Your password
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-label position="stacked">
                Password
              </ion-label>
              <ion-input
                name="password"
                required="true"
                placeholder="Min 6 chars & contain at least; 1 capital & 1 number"
              ></ion-input>
              <!-- <ion-text
                name="addressTownMessage"
                [hidden]="ngForm.controls.surname && (ngForm.controls.surname.valid || (ngForm.controls.surname.pristine))"
                color="danger"
                >Forename is required</ion-text
              > -->
            </ion-item>

            <ion-item>
              <ion-label position="stacked">
                Confirm Password
              </ion-label>
              <ion-input
                name="passwordConfirmation"
                required="true"
                placeholder="Please confirm your password"
              ></ion-input>
              <!-- <ion-text
                name="addressTownMessage"
                [hidden]="ngForm.controls.surname && (ngForm.controls.surname.valid || (ngForm.controls.surname.pristine))"
                color="danger"
                >Forename is required</ion-text
              > -->
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Volunteering Agreement
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            Please be aware we are a <b>NEW volunteering group</b> and as such
            we are taking full responsibility of our actions and our volunteers,
            for that process to happen successfully for everyone involved, we
            would need you to help us further with 4 more easy steps to follow
            before getting you up to speed.
          </p>
          <p>
            I {{form.firstname}} {{form.surname}} have put myself forward as a
            Volunteer to support those people whom are self-isolating and need
            medicine and food to be bought to their door step.
          </p>
          <p>
            I am aware that the team whom have developed the
            <a href="https://selfisolationhelp.co.uk"
              >https://selfisolationhelp.co.uk</a
            >
            tool, are proceeding to help people out of good will and I take full
            responsibility in the actions I will be performing further to
            collaborate with Self Isolation Help Team.
          </p>
          <ion-card>
            <ion-card-content>
              <p>I agree to the terms of use</p>
              <ion-checkbox checked="false" name="acceptTerms"></ion-checkbox>
            </ion-card-content>
          </ion-card>
          <!-- <ion-checkbox checked="false"></ion-checkbox> -->
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <p>
            COVID-19 Protocols. At the Self Isolation Help Team we deeply care
            about the health & safety of our friends and family. Our Volunteers
            will follow all current COVID-19 protocols. You will be asked to use
            hand sanitizer to keep distance and leave shopping and all the
            valuables bought at the door step of your self-isolator. We enforce
            Social Distancing a rule which MUST be respected. Let’s do our part
            and allow experts to do theirs
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-button type="submit">Complete Volunteer Sign up</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </form>
</ion-content>
