<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title
      >More info<br />
      <small>(Step 2 of 3)</small></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmitForm($event)" #ngForm="ngForm" class="max-wrap">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          More info
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-textarea
            name="moreInfo"
            [(ngModel)]="form.moreInfo"
            placeholder="Enter any additional comments or information..."
          ></ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-button type="submit">Next</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
