<ion-content>
  <div class="background"><div class="background-inner"></div></div>

  <div class="max-wrap">
    <ion-card>
      <ion-card-content>
        <h1>COVID-19 Self Isolation Help {{locationLabel ? 'for ' + locationLabel : 'for the UK'}}</h1>
        <p *ngIf="isDevMode">
          <ion-text color="danger"
            >ATTENTION: This is a preview version of the website and not for the
            general public. It is instead used for giving potential Volunteer
            groups a preview to understand the tool.</ion-text
          >
        </p>
        <p class="leading">
          If you or someone you know is self isolating due to the outbreak of
          Coronavirus and need access to food, medicine or support, you can use
          this tool to request help from a local volunteer group in {{locationLabel ? locationLabel : 'the United Kingdom'}}.
        </p>
        <p>
          <strong>
            If you have breathing difficulties or severe symptoms
          </strong>
          do not use this tool. Instead, <strong>dial 999</strong> immediately
          to seek emergency help.
        </p>

        <p>
          To request assistance for you, or someone else please click 'Continue'
          below
        </p>
        <ion-button [routerLink]="['/question-one']">Continue</ion-button>

      </ion-card-content>
    </ion-card>
  </div>

  <ion-footer class="footer">
    <ion-grid class="max-wrap">
      <ion-row>
        <ion-col size-lg="6" size-sm="5" size-xs="12">
          <small class="text">
            Created by
            <a href="http://perius.co.uk" target="_blank">Perius Ltd</a> and
            volunteers<br />Company Number 06799576
          </small>
        </ion-col>
        <ion-col size-lg="2" size-sm="2" size-xs="12" class="ion-text-center">
          <a class="link button" [routerLink]="['/contact']">Contact</a>
        </ion-col>
        <ion-col size-lg="2" size-sm="2" size-xs="12" class="ion-text-center">
          <a class="link button" [routerLink]="['/people-isolating']"
            >Volunteers</a
          >
        </ion-col>
        <ion-col size-lg="2" size-sm="3" size-xs="12" class="ion-text-center">
          <a class="link" [routerLink]="['/privacy-policy']">Privacy Policy</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>

<ion-footer *ngIf="!hasCookie" class="cookies-wrap">
  <p>This website use cookies in order to offer you the most relevant information. Please accept cookies for optimal performance.  <ion-button (click)="setCookie()">Accpet</ion-button></p>
</ion-footer>
