:host {

  .max-wrap {
    margin-top: 60px;
  }
  h1 {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 400;
  }
  ion-img {
    width: 172px;
    margin: 20px 0;
  }
  .header {
    color: #fff;
    z-index: 2;
    position: relative;
    font-weight: 700;
  }
  .background {
    width: 100%;
    height: 400px;
    background: black;
    position: absolute;
    .background-inner {
      background: url('/assets/background.jpg');
      opacity: 0.5;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
    }
  }

  .footer{
    .link{
      display: block;
      padding: .5rem;
    }
  }
  @media all and (max-width: 575px){
    .footer{
      .text{
        text-align: center;
        display: block;
      }
      .button{
        margin: .2rem auto 0 auto;
        width: 70%;
      }
    }
  }

}


