<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register as a Volunteer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="max-wrap">
    <ion-card>
      <ion-card-content>
        <p class="leading">
          To register as a Volunteer and connect with people in need in
          your area, please follow the instructions below. All volunteer registration requests are vetted manually.
        </p>

        <h2>How to register</h2>

        <p>
          Copy and paste the text below with your answers to the email address:
          <a href="mailto:volunteers@selfisolationhelp.co.uk"
            >volunteers@selfisolationhelp.co.uk</a
          >
        </p>

        <p>================================</p>

        <p>First name</p>
        <p>Middle names (if applicable)</p>
        <p>Last name</p>

        <p>Volunteer group name (if applicable)</p>

        <p>Volunteer group link, such as a Facebook group link (if applicable)</p>
        <p>Your role in the volunteer group (if applicable)</p>
        <p>The area where your volunteer work will cover</p>
        <p>Have you ever been convicted</p>
        <p>Your DBS number (if applicable)</p>
        <p>Email address</p>
        <p>Mobile telephone number</p>
        <p>Your full address</p>

        <p>================================</p>

        <a [routerLink]="['/']">Return to homepage.</a>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
