<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>People Isolating</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="max-wrap">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Sign In
        </ion-card-title>
        <ion-card-subtitle>
          Provide help to people who are self-isolating
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p *ngIf="isDevMode">
          Thank you for accessing the <em>preview</em> version of the
          self-isolation tool. This preview is available for you to review and
          decide if the tool is right for you and your team.
        </p>
        <p *ngIf="!isDevMode">
          Sign in to view and help people who are Self Isolating. Only
          volunteers who are vetted and security checked have access to the
          system.
        </p>

        <ion-button [routerLink]="['/login']">Sign In</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Register as a Volunteer
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          If you would like to register as a Volunteer, please click "Register
          Now" below.
        </p>

        <ion-button [routerLink]="['/register']">Register Now</ion-button>
      </ion-card-content>
    </ion-card>
    <div class="ion-card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Volunteers: How to use the tool</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="video-responsive">
            <iframe
              [src]="safeSrc"
              width="420"
              height="315"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
