<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Volunteers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="max-wrap">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Sign In
        </ion-card-title>
        <ion-card-subtitle>
          Assist people who are Self Isolating
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>
          Sign in to view and help people who are Self Isolating. Only
          volunteers who are vetted and security checked have access to the
          system.
        </p>

        <ion-button [routerLink]="['/login']">Sign In</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Register as a Volunteer
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          If you would like to register as a Volunteer, please click "Register Now" below.
        </p>

        <ion-button [routerLink]="['/register']">Register Now</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
