<ion-header>
  <ion-toolbar class="max-wrap">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Volunteers</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="(user$ | async)?.roles.admin" color="secondary" [routerLink]="['/approve-volunteers']">Admin</ion-button>
      <ion-button (click)="onSignout()">Sign out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div
    class="max-wrap"
    *ngIf="(user$ | async) && !(user$ | async)?.roles.admin && !(user$ | async)?.roles.volunteer"
  >
    <ion-card>
      <ion-card-content>
        <h1>Thank you</h1>
        <p>
          We are currently reviewing your application and we will be in touch with you directly.
        </p>
        <p>When you have been approved, you may return here.</p>
        <p>
          If you have any questions or queries, please contact
          <a href="mailto:volunteers@selfisolationhelp.co.uk"
            >volunteers@selfisolationhelp.co.uk</a
          >
        </p>
      </ion-card-content></ion-card
    >
  </div>
  <div
    class="max-wrap"
    *ngIf="(user$ | async)?.roles.admin || (user$ | async)?.roles.volunteer"
  >
    <ion-card class="ion-margin-vertical">
      <ion-card-content>
        <p class="ion-margin-none ion-padding-none">
          This page shows people who are in need of help, grouped by county. The
          number in red represents the number of people in that area.
        </p>
        <p *ngIf="(isolators$ | async) && !(isolators$ | async)?.length">
          There are currently no isolators reported.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="(isolators$ | async)?.length">
      <ion-card-header>
        <ion-card-title>By county</ion-card-title>
        <ion-card-subtitle
          >Self-isolation requests grouped by county</ion-card-subtitle
        >
      </ion-card-header>
      <ion-list>
        <ng-container
          *ngFor="let isolator of (isolators$ | async) | groupBy: 'details.county' | orderBy: 'dateSubmitted' | keyvalue"
        >
          <ion-item
            detail="true"
            lines="full"
            [routerLink]="['/people-isolating-grouped']"
            [queryParams]="{county: isolator.value[0].details.county}"
          >
            <ion-label>
              {{isolator.value[0].details.county}}
            </ion-label>

            <ion-badge color="danger">{{isolator.value.length}}</ion-badge>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="(isolators$ | async)?.length">
      <ion-card-header>
        <ion-card-title>By location</ion-card-title>
        <ion-card-subtitle
          >Self-isolation requests grouped by volunteer-led specific
          regions</ion-card-subtitle
        >
      </ion-card-header>
      <ion-list>
        <ng-container
          *ngFor="let isolator of (isolators$ | async) | groupBy: 'details.location' | orderBy: 'dateSubmitted' | keyvalue"
        >
          <ion-item
            *ngIf="isolator.key !== 'undefined'"
            detail="true"
            lines="full"
            [routerLink]="['/people-isolating-grouped']"
            [queryParams]="{location: isolator.value[0].details.location}"
          >
            <ion-label>
              {{isolator.value[0].details.location}}
            </ion-label>

            <ion-badge color="danger">{{isolator.value.length}}</ion-badge>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-card>
  </div>

</ion-content>
